<footer class="footer">
	<div class="container footer__inner">
		<a href="index.html" class="footer__logo">
			<img src="img/logo-footer.png" alt="">
		</a>
		<div class="footer__contacts contacts">
			<ul class="contacts__list">
				<li class="contacts__item"><a class="contacts__link" href="tel:+371 26992410"><b>tel.</b>: +371 26992410</a></li>
				<li class="contacts__item"><a class="contacts__link" href="skype:friends4alps?call"><b>skype</b>: friends4alps</a></li>
			</ul>
		</div>
		<div class="footer__social social">
			<ul class="social__list">
				<li class="social__item">
					<a class="social__link" href="#">
						<span class="social__item-image">

							<img src="img/icon-facebook.png" alt=""></span>Facebok</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#">
						<span class="social__item-image">
							<img src="img/icon-twitter.png" alt="">
						</span>Twitter
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__copyright">
			Copyright © 2014 4F Transfers. <br>All rights reserved.
		</div>
	</div>
</footer>