<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__column header__column--left">
				<div class="language">
					<ul class="language__list js-language">
						<li class="language__item js-language-btn active">
							<a class="language__link" href="#">EN</a>
						</li>
						<li class="language__item js-language-btn">
							<a class="language__link" href="#">RU</a>
						</li>
					</ul>
				</div>
				<div class="header__social social">
					<ul class="social__list">
						<li class="social__item">
							<a class="social__link" href="#">
								<span class="social__item-image">

									<img src="img/icon-facebook.png" alt=""></span>Facebok</a>
						</li>
						<li class="social__item">
							<a class="social__link" href="#">
								<span class="social__item-image">
									<img src="img/icon-twitter.png" alt="">
								</span>Twitter
							</a>
						</li>
					</ul>
				</div>
			</div>
			<a href="index.html" class="header__logo">
				<img src="img/site-logo.png" alt="logo site">
			</a>
			<div class="btn-menu">
				<div class="btn-menu__inner">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<span class="btn-menu__text">MENU</span>

			</div>
			<div class="btn-close-menu">
				<span class="btn-close-menu__icon">

					<svg version="1.1" id="svg2" inkscape:version="0.48.4 r9939" sodipodi:docname="VisualEditor_-_Icon_-_Close.svg"
					 xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
					 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
					 xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					 x="0px" y="0px" viewbox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">

						<polygon id="x" class="st0" points="18.7,6.7 17.3,5.3 12,10.6 6.7,5.3 5.3,6.7 10.6,12 5.3,17.3 6.7,18.7 12,13.4 17.3,18.7 
					   18.7,17.3 13.4,12 " />
					</svg>
				</span>
				<span class="btn-close-menu__text">MENU</span>
			</div>
			<div class="header__column header__column--right">
				<div class="header__menu menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" href="#">4F Transfers</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">News</a>
						</li>
						<li class="menu__item b-dropdown">
							<a class="menu__link" href="#">About <span class="arrow"></span></a>
							<ul class="b-dropdown__list">
								<li class="b-dropdown__item"><a class="b-dropdown__link" href="#">Reviews from our friends</a></li>
								<li class="b-dropdown__item"><a class="b-dropdown__link" href="#">We are...</a></li>

							</ul>
						</li>
						<li class="menu__item">
							<a class="menu__link menu__link--vip" href="#">VIP</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Contacts</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</header>