// breadcrumb Start
.breadcrumb {
    padding-bottom: 20px;
	@include media("<sm") {
		display: none;
	}
    li {
		color: #616161;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        margin-right: 4px;
        display: inline;
    }
    a {
		color: $site-color;
        text-decoration: underline;
        padding-bottom: 1px;
        vertical-align: bottom;
    }
  
}

.breadcrumb li+li:before {
    content: "➝";
    font-weight: 300;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 8px;
    color: #333333;
} // breadcrumb End