// buttons
//------------------------------------------------------




.button {
	height: 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 15px;
	color: $light;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.72px;
	@include transition;

	@include media("<md") {
		min-height: 40px;

	}

	@include media("<sm") {
		padding-left: 15px;
		padding-right: 15px;
	}

	&--dashed {
		border: 2px dashed $light;
		color: $light;

		&:hover {
			background-color: $light;
			border-style: solid;
			color: $site-color;
		}
	}

	&--default {
		background-color: #45cbe6;
		background-image: linear-gradient(to right, #37add8 0%, #0078ff 100%);

		&:hover {
			background-image: linear-gradient(to right, #2f59c3 0%, #2f59c3 100%);

		}
	}

	.symbol {
		font-size: 20px;
		margin-left: 10px;
	}
}

.btn-default {}

.btn-menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 4px 0;
	right: 0px;
	cursor: pointer;
	position: absolute;
	top: 20px;

	&__inner {
		margin-bottom: 6px;

		span {
			width: 25px;
			height: 2px;
			background: #fff;
			display: block;
			@include transition;
		}

		span+span {
			margin-top: 5px;
		}
	}

	&__text {
		text-align: center;

		color: #ffffff;
		font-size: 9px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.36px;
	}

	@media(min-width: 992px) {
		display: none;
	}

	@include media("<md") {
		right: 0;
	}
}

.btn-link {
	padding-left: 16px;
	padding-right: 12px;
	max-width: 160px;
	white-space: nowrap;

	.icon {
		margin-right: 12px;
	}
}

// radio button
label input[type=radio] {
	display: none;
}

.delete.icon {
	background: url('../img/close.svg') center no-repeat;
	width: 9px;
	height: 9px;
	color: $text-color;
	margin-left: 5px;
	background-size: contain;
}

.radio-btn {
	padding-left: 0;
	display: flex;
	-webkit-align-items: center;
	align-items: center;

	&__title {
		color: $text-color;
		font-size: 16px;
		font-weight: 400;
	}

	.icon {
		width: 18px;
		height: 18px;
		border: 1px solid #e1dfe2;
		flex: 0 0 auto;
		border-radius: 50%;
		margin-right: 14px;
		position: relative;
	}

	[type=radio]:checked+.icon+.radio-btn__title {
		color: $site-color;
	}

	[type=radio]:checked+.icon:before {
		width: 8px;
		height: 8px;
		background-color: $site-color;
		border-radius: 50%;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		content: "";
	}
}

// checkbox
.check input[type=checkbox] {
	display: none;
}


// fixed buttons
.to-top {
	position: fixed;
	right: 50px;
	bottom: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	overflow: hidden;
	@include transition;
	font-size: 30px;
	color: #036ce2;
	box-shadow: 0 0 24px 1px rgba(0, 0, 1, 0.27);
	background-color: #030d46;
	z-index: 2;
	display: none;

	&:hover {
		background-color: #07166a;

	}

	@include media("<xl") {
		display: none !important;
	}
}

.scroll-down {
	position: absolute;
	right: 0px;
	top: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 2;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #e0e0e0;
	@include transition;

	&__title {
		margin-right: 12px;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.72px;
	}

	&:hover {
		color: #fff;

	}

	@include media("<lg") {
		display: none;
	}
}

.scroll .btn-close {
	@include transition;
	font-size: 14px;

	&:hover {
		color: $site-color;

	}
}

.btn-more {
	display: flex;
	align-items: center;
	cursor: pointer;
	// 	@include media(">lg") {
	// 		display: none;

	// }
	&__wrap {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

	&__title {
		color: $site-color;
		font-size: 16px;
		font-weight: 500;
		line-height: 30px;
		margin-left: 10px;
	}


}

// radio button
.check {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	text-align: left;

	&__title {
		vertical-align: middle;
		color: #9e9e9e;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		padding-left: 10px;
	}

	label {}

	.icon {
		width: 16px;
		height: 16px;
		border: 1px solid #447eff;
		background-color: $light;
		flex: 0 0 auto;
		border-radius: 50%;
		position: relative;

		// background: transparent url('../img/btn-radio.png') center no-repeat;
	}

	[type=radio]:checked+.icon:before,
	[type=checkbox]:checked+.icon:before {
		content: "";
		display: block;
		width: 8px;
		height: 8px;
		background: #447eff;
		border-radius: 50%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

	}
}

// slider naviagtion 
.slick-dots li button {
	color: #96a8dd;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	width: 33px;
	height: 40px;
}

.slick-dots li {
	height: auto;
	width: auto;
	border-bottom: 1px solid transparent;
	@include transition;

	&.slick-active {
		border-color: #345eb2;
	}
}

.slick-dots li button:before {
	display: none;
}

.slick-dots {
	text-align: right;
	bottom: -60px;
	width: auto;
	right: 0;
}

.btn-close-menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 4;
	top: 90px;
	right: 90px;
	align-items: center;
	cursor: pointer;
	display: none;

	svg {
		fill: #fff;
		width: 30px;
	}

	// &:hover {
	// 	.btn-close-menu__text {
	// 		color: $site-color;
	// 	}
	// }
	&__icon {
		font-size: 0;
	}

	&__text {
		text-align: center;

		color: #ffffff;
		font-size: 9px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.36px;
	}

	@include media("<sm") {
		top: 18px;
		right: 21px;
	}
}

.button--order-submit {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 142px;
}

.link-back {
	color: #9d9d9d;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.72px;
	height: 60px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 142px;
	justify-content: center;
	@include transition;
	cursor: pointer;

	span {
		font-size: 20px;
	}

	&:hover {
		color: $site-color;
	}
}

.btn-more {
	max-width: 175px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;

	&__image {
		margin-bottom: 20px;
		@include transition;

	}

	&__title {
		color: $site-color;
		font-size: 19px;
		font-weight: 600;
	}

	&:hover {
		.btn-more__image {
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}


	}
}