.contacts {
	&__list {
		display: flex;
		justify-content: center;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 24px;

		@include media("<sm") {
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 10px;
		}
	}

	&__item {
		margin-left: 15px;
		margin-right: 15px;
	}

	&__link {
		color: $light;
		font-size: 16px;
	}

}

.g-recaptcha {
	max-width: 100%;
}

.footer {
	background: url('../img/bg-footer.png') right top repeat-x;
	background-size: cover;
	padding-top: 280px;
	text-align: center;
	min-height: 470px;
	padding-bottom: 40px;

	.social__item-image {
		@include media("<sm") {
			min-width: auto;
		}
	}

	&__inner {
		@include media("<sm") {
			padding-left: 40px;
			padding-right: 40px;
			text-align: left;
		}
	}

	&__logo {
		margin-bottom: 25px;
	}

	.social__list {
		justify-content: center;

		@include media("<sm") {
			justify-content: flex-start;
		}
	}

	&__copyright {
		color: #263993;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.48px;

		@include media(">sm") {
			br {
				display: none;
			}
		}
	}

	&__social {
		margin-bottom: 15px;
	}


}