form {

	.form-group {

		.form-control {
			border: 1px solid transparent;
			@include transition;
		}

		&.is-error {
			.form-control {

			border-color: #FFBABA;


		}
		}
	}



}

.field__msg--error {
	color: #f30420;
	font-size: 10px;
	line-height: 1;
	font-weight: 400;
}

.table {
	width: 100%;

	&__col-left {
		text-align: right;

		@include media("<sm") {
			text-align: left;
		}
	}

	&__col-right {
		color: #9e9e9e;

	}

	td {
		min-height: 30px;
		font-size: 14px;
		font-weight: 500;
		padding: 7px 15px;
		vertical-align: middle;

		@include media("<sm") {
			padding-left: 20px;
			padding-right: 20px;

		}
	}

	tr:nth-child(2n+1) {
		td {
			background-color: #e0e0e0;
		}
	}
}

.e-link {
	color: #0179fe;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	@include transition;

	&:hover {
		border-color: #0179fe;
	}
}

.text-star {
	color: #ff0000;
	margin-left: 4px;
}

.order-form {
	margin-left: auto;
	margin-right: auto;

	&-wrap .general-title {
		@include media("<sm") {
			font-size: 25px;
			margin-bottom: 20px;
		}
	}

	.button {
		@include media(">=md") {
			min-width: 142px;
		}
	}

	&--client {
		max-width: 938px;

		.form-control,
		.form-control-textarea {
			color: #252525;

		}
	}

	&__section {
		box-shadow: 2px 1px 27px 1px rgba(3, 7, 8, 0.19);
		background-color: $light;
		margin-bottom: 30px;
		padding: 30px;
		border-radius: 4px;



		@include media("<sm") {
			padding: 20px;
		}

		&--table {
			@include media("<sm") {
				padding: 20px 0;

				.order-form__section-title {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}

		&-bottom {
			display: flex;
			align-items: center;

			@include media("<sm") {
				align-items: flex-start;
			}

			.check {
				@include media("<sm") {
					margin-bottom: 17px;
				}
			}

			.terms-link {
				color: #4b7ae6;
				font-size: 12px;
				font-weight: 500;
				text-decoration: underline;
				margin-left: 16px;

				@include media("<sm") {
					margin-left: 26px;
				}

				&:hover {
					text-decoration: none;
				}
			}

			@include media("<sm") {
				flex-direction: column;
			}
		}


	}

	&__section-title {
		line-height: 20px;
		color: $site-color;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 20px;

		span {
			display: block;
			font-size: 14px;
			font-weight: 500;
			color: #4a4a4a;
		}

	}

	@include media(">sm", "<=md") {
		margin-left: -20px;
		margin-right: -20px;
		border-radius: 0px;

	}

	&__top {
		margin-bottom: 24px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;

		@include media("<md") {
			flex-direction: column;
			justify-content: flex-start;

			.button {
				margin-bottom: 17px;
			}
		}
	}

	&__help-text {
		color: #0179fe;
		max-width: 360px;
		margin-right: 20px;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		text-align: left;
		display: flex;
		align-items: center;

		@include media("<md") {
			max-width: 100%;
			order: 1;
		}
	}

	&__total {
		display: flex;
		align-items: center;
		color: #878787;
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
		margin-left: auto;
		margin-right: 34px;

		@include media("<md") {
			margin-left: 0;
			margin-bottom: 20px;
		}
	}

	&__total-value {
		color: #2483c5;
		font-size: 22px;
		font-weight: 600;
		line-height: 18px;
		margin-left: 8px;
	}

	.arrow {
		margin-right: 15px;
		flex: 0 0 auto;

		@include media("<md") {
			display: none;
		}
	}

	.check {
		&:not(:last-of-type) {
			margin-right: 24px;
		}
	}

	.form-group--indentation {
		margin-left: -5px;
		margin-right: -5px;
		display: flex;

		.form-control {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.label {
		color: #9e9e9e;
		margin-bottom: 9px;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		text-align: left;
	}

	&__top {
		display: flex;
		margin-left: -30px;
		margin-right: -30px;

		@include media("<lg") {
			margin-left: -20px;
			margin-right: -20px;
		}

		@include media("<md") {
			flex-direction: column;
		}
	}

	&__column {
		width: 33.3%;
		padding-left: 30px;
		padding-right: 30px;
		display: flex;
		flex-direction: column;

		@include media("<lg") {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include media("<md") {
			width: 100%;
			padding-bottom: 20px;

			&:not(:first-of-type) {
				padding-top: 20px;
			}

		}

		&--center {
			border-left: 1px solid #e0e0e0;
			border-right: 1px solid #e0e0e0;
			position: relative;

			@include media("<md") {
				&:before {
					content: "";
					position: absolute;
					top: 1px;
					height: 1px;
					background-color: #e0e0e0;
					width: calc(100% - 40px);
					left: 0;
					right: 0;
					margin: auto;
				}

				&:after {
					content: "";
					position: absolute;
					bottom: -1px;
					height: 1px;
					background-color: #e0e0e0;
					width: calc(100% - 40px);
					left: 0;
					right: 0;
					margin: auto;
				}

				border: 0;

				// border-top: 1px solid #e0e0e0;
				// border-bottom: 1px solid #e0e0e0;
				&.order-form__column:first-of-type {
					border-top: 1px solid #e0e0e0;

				}
			}

			@include media(">=md") {
				padding-top: 14px;
			}
		}
	}
}



.form-group {
	text-align: left;

	&:not(:last-of-type) {
		margin-bottom: 10px;

	}

	&--bottom {
		margin-top: auto;
	}


}

.form-control-wrap {
	margin-left: -5px;
	margin-right: -5px;
	display: flex;

	.form-control {
		margin-left: 5px;
		margin-right: 5px;
	}

	.ui.selection.dropdown {
		margin-left: 5px;
		margin-right: 5px;
		min-width: 0;
	}
}

.form-control {
	height: 40px;
	background-color: #e0e0e0;
	width: 100%;
	border: 0;
	border-radius: 4px;
	padding-left: 12px;
	padding-right: 12px;
	color: #9e9e9e;
	font-size: 12px;
	font-weight: 500;
	position: relative;

	&-textarea {
		background-color: #e0e0e0;
		width: 100%;
		height: 100px;
		resize: none;
		border: 0;
		border-radius: 4px;
		padding: 10px;

	}

	&__wrap {
		position: relative;
		margin-left: 5px;
		margin-right: 5px;

		.form-control {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		&--date {
			flex: 0 0 122px;

			&:after {
				content: "";
				width: 13px;
				height: 13px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 12px;
				background: url('../img/icon-calendar.png') center no-repeat;
			}

			@include media("<xl") {
				flex: 0 0 55%;

			}
		}

		&--time {

			&:after {
				content: "";
				width: 12px;
				height: 12px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 12px;
				background: url('../img/icon-clock.png') center no-repeat;
			}


		}
	}

}

.text-notification {
	color: #9e9e9e;
	font-size: 12px;
	font-weight: 500;
	padding-left: 10px;
	margin-top: 5px;
	display: block;
}