.header {
	background: url('../img/bg-header.png') center repeat-x;

	@include media("<xl") {
		min-height: 260px;
	}

	@include media("<sm") {
		margin-bottom: 20px;

	}

	&__social {
		@media(max-width: 991px) {
			display: none;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		min-height: 262px;
		position: relative;
		align-items: flex-start;

		@include media("<xl") {
			min-height: 200px;

		}

		@include media("<sm") {
			padding-top: 20px;
			overflow: hidden;
			min-height: 130px;

		}
	}

	&__logo {
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
		margin: auto;
		width: 205px;
		height: 135px;

		@include media("<sm") {
			width: 127px;
			height: 83px;
		}

		@media(max-width: 991px) {
			top: 40px;
		}
	}

	&__column {
		display: flex;
		align-items: center;
		padding-top: 25px;

		@media(max-width: 991px) {
			padding-top: 0;
		}
	}
}

.social {


	&__list {
		display: flex;
		align-items: center;

		margin-left: -15px;
		margin-right: -15px;
	}

	&__item {
		margin-left: 15px;
		margin-right: 15px;


	}



	&__link {
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		@include transition;
		display: flex;
		align-items: center;

		&:hover {
			color: #46cde7;
		}
	}

	&__item-image {
		margin-right: 9px;
		min-width: 16px;
		text-align: right;
	}
}

.language {

	margin-right: 40px;

	@media(max-width: 991px) {
		margin-left: 10px;
	}

	@include media("<sm") {
		margin-left: 0;
	}

	&__list {
		margin-left: -10px;
		margin-right: -10px;
		display: flex;
		align-items: center;
	}

	&__link {
		color: $light;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__item {
		margin-left: 10px;
		margin-right: 10px;

		&.active .language__link {
			color: #46cde7;

		}
	}
}

.menu {
	@media(max-width: 991px) {
		opacity: 0;
		visibility: hidden;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:first-of-type) {
			margin-left: 30px;

		}
	}

	&__link {
		color: $light;
		font-size: 14px;
		font-weight: 400;
		@include transition;
		display: flex;
		align-items: center;

		&:hover {
			color: #45cbe6;

		}

		.arrow {
			border: solid #fff;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}

		&--vip {
			width: 60px;
			height: 26px;
			border-radius: 13px;
			background-color: $light;
			background-image: linear-gradient(to right, #37add8 0%, #0078ff 100%);
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-image: linear-gradient(to right, #2f59c3 0%, #2f59c3 100%);
				color: $light;
			}
		}


	}
}

.b-dropdown {
	position: relative;

	.arrow {
		margin-left: 10px;
		margin-bottom: 3px;
		@include transition;
	}

	&.is-open {
		.arrow {
			transform: rotate(225deg);
			-webkit-transform: rotate(225deg);
		}
	}

	&__list {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		padding-top: 10px;
		min-width: 200px;
	}

	&__link {
		color: $light;
		font-size: 14px;
		font-weight: 400;
		@include transition;
		min-width: 100px;
		padding-top: 5px;
		padding-bottom: 5px;

		&:hover {
			color: #45cbe6;
		}
	}
}

// 0000
body {
	&.js-block-scroll {
		@media(max-width: 991px) {
			position: relative;
			overflow-y: hidden;

			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #000721e4;
				z-index: 2;
			}
		}
	}
}

.header.is-open {
	@media(max-width: 991px) {
		.btn-close-menu {
			display: flex;
		}

		.social__item {
			margin-bottom: 20px;
			width: 100%;
		}

		.header__social {
			position: fixed;
			display: flex;
			z-index: 3;
			top: 60%;
			right: 80px;

			@include media("<sm") {
				left: 48px;
				right: auto;
				top: auto;
				bottom: 10%;
			}
		}

		.social__list {
			flex-direction: column;
		}

		.menu {
			position: fixed;
			top: 90px;
			left: 90px;
			z-index: 3;
			display: block;
			opacity: 1;
			visibility: visible;
			width: 90%;

			@include media("<sm") {
				left: 48px;
			}
		}

		.menu__list {
			flex-direction: column;
			align-items: flex-start;
		}

		.menu__item {
			margin-bottom: 10px;
			margin-left: 0;
			width: 100%;
		}

		.b-dropdown__item {
			margin-bottom: 10px;

			@include media("<sm") {
				margin-left: 0;

			}
		}

		.menu__link--vip {
			width: 78px;
			margin-left: -17px;
		}

		.social__list {
			margin-left: 0;
			margin-right: 0;
		}

		.b-dropdown {
			.arrow {
				display: none;
			}
		}

		.b-dropdown__list {
			display: block;
			position: relative;
			padding-top: 10px;
		}

		.b-dropdown__link {
			font-size: 20px;
			font-weight: 300;
			padding-left: 20px;

			@include media("<sm") {
				font-size: 16px;
				max-width: 95%;
				padding-left: 15px;
			}
		}

		.menu__link {
			font-size: 25px;

			@include media("<sm") {
				font-size: 20px;
			}
		}
	}
}