.project__slider {
	max-width: 620px;

}

.slider {
	position: relative;

	@include media("<md") {
		margin-bottom: 10px;
		margin-left: -20px;
		margin-right: -20px;
	}

	&__item {
		max-width: 620px;
		max-height: 460px;

		@include media("<md") {
			max-width: 248px;
			margin-left: 10px;
			margin-right: 10px;
		}

		@include media("<lg") {
			// height: 300px;

		}

		img {
			// height: 100%;
			// width: auto;
		}
	}

	&__list {
		display: none;

		&.slick-initialized {
			display: block;
		}
	}
}

.slick-prev,
.slick-next {
	width: 50px;
	height: 50px;

}

.slick-prev:before,
.slick-next:before {
	font-family: "slick";
	font-size: 40px;
	line-height: 1;
	color: #949494;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: -10px;
	display: inline-block;
	@include transition;

	&:hover:before {
		color: $site-color;

	}
}

.slick-prev:before {
	content: "⇽";
}

[dir="rtl"] .slick-prev:before {
	content: "⇽";
}

[dir="rtl"] .slick-next {
	left: -10px;
	top: 70px;
	right: auto;
}

.slick-next:before {
	content: "⇾";
}

[dir="rtl"] .slick-next:before {
	content: "⇾";
}

.icon-zoom {
	width: 35px;
	height: 35px;
	background-color: $site-color;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 2;

	@include media("<md") {
		display: none;
	}
}