@@include('../chunks/head.html')

<body>
	<div class="wrapper">
		@@include('../chunks/header.html')

		<main class="main">
			<!-- section about-usStart -->
			<section class="about-us">
				<div class="container">

					<h1 class="general-title">We are</h1>

					<div class="about-us__inner">
						<div class="about-us__slider-wrap">
							<div class="about-us__slider-wrap">
								<div class="about-us__slider js-about-us-slider">
									<div class="about-us__slide">
										<img src="img/slide-1.jpg" alt="">
									</div>
									<div class="about-us__slide">
										<img src="img/slide-2.jpg" alt="">
									</div>
									<div class="about-us__slide">
										<img src="img/slide-3.jpg" alt="">
									</div>
									<div class="about-us__slide">
										<img src="img/slide-4.jpg" alt="">
									</div>
								</div>
								<div class="about-us__description">
									<h2 class="subtitle">Welcome to 4F Transfers!</h2>
									<div class="about-us__info text">
										<p>We are low cost airport transfers provider for all your ski transfer needs, providing airport transfers
											from: <br>
											<span class="text-color">Geneva, Chambery, Lyon, Grenoble</span></p>
										<p>to the Alps resorts, including: <br>
											<span class="text-color">Meribel, Courchevel, Val Thorens, Tignes, Les Menuires, Val d’isere, La Plagne,
												Les
												Arcs, Les Deaux Alpes, Alpe d’ Huez,</span> and many more!</p>
										<p>We also offer very affordable transportation from and to all regional train stations including: <br>
											<span class="text-color">Lyon, Moutiers, Aime, Bourg St. Maurice.</span></p>
										<p>To find out more information please select your journey from the top menu or contact us at the contacts
											menu!
										</p>
										<p class="text-accent">We are looking forward to having you on board and transporting you to your winter
											holidays!
										</p>
										<div class="advantage">
											<div class="advantage__item">
												<div class="advantage__item-image">
													<img src="img/icon-chair.png" alt="">
												</div>
												<div class="advantage__item-title">Child seats</div>
											</div>
											<div class="advantage__item">
												<div class="advantage__item-image">
													<img src="img/icon-fruit.png" alt="">
												</div>
												<div class="advantage__item-title">Refreshments</div>
											</div>
											<div class="advantage__item">
												<div class="advantage__item-image">
													<img src="img/icon-chauffeur.png" alt="">
												</div>
												<div class="advantage__item-title">english & russian speaking <br>
													proffesional drivers</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="about-us__slider-navigation js-about-us-slider-navigation">
								<div class="about-us__slide">
									<img src="img/slide-1.jpg" alt="">
								</div>
								<div class="about-us__slide">
									<img src="img/slide-2.jpg" alt="">
								</div>
								<div class="about-us__slide">
									<img src="img/slide-3.jpg" alt="">
								</div>
								<div class="about-us__slide">
									<img src="img/slide-4.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section about-usEnd -->


		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>