@@include('../chunks/head.html')

<body>
	<div class="wrapper">
		@@include('../chunks/header.html')

		<main class="main">
			<!-- section b-contacts Start -->
			<section class="b-contacts__wrap">
				<div class="map" id="map">

				</div>
				<div class="b-contacts">
					<div class="b-contacts__form b-contacts-form">
						<h2 class="b-contacts-form__title">Get in touch</h2>
						<h4 class="b-contacts-form__subtitle">Your question / suggestion</h4>
						<form action="">
							<div class="b-contacts-form__inner">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your name:">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your email:">
								</div>
								<div class="form-group">
									<textarea class="form-control-textarea" cols="30" rows="10" placeholder="Question / Suggestion"></textarea>
								</div>
								<div class="b-contacts-form__action">

									<div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>

									<button class="button button--order-submit button--default" type="submit">SUBMIT</button>
								</div>
							</div>
						</form>
					</div>
					<div class="b-contacts__info b-contacts-info">
						<div class="b-contacts-info__icon">
							<img src="img/icon-email.png" alt="">

						</div>
						<ul class="b-contacts-info__list">
							<li class="b-contacts-info__item">
								<a class="b-contacts-info__link b-contacts-info__link--tel" href="tel:+37126992410">+371 26992410</a>
							</li>
							<li class="b-contacts-info__item">
								<a class="b-contacts-info__link" href="mailto:team@4ftransfers.com"><b>email:</b> team@4ftransfers.com
								</a>
							</li>
							<li class="b-contacts-info__item">
								<a class="b-contacts-info__link" href="skype:friends4alps?call"><b>skype</b>: friends4alps</a>
							</li>
						</ul>
					</div>
				</div>

			</section>
			<!-- section b-contacts End -->


		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
	<script src="https://www.google.com/recaptcha/api.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVOSa9OGbM6CidiJ5ByWgDrR71hgihxM8" type="text/javascript"></script>
	<script>
		//    MAP SEttings
		map = $('#map')

		$(function () {
			var map = $('#map');

			if (map.length) {

				google.maps.event.addDomListener(window, 'load', init);

				function init() {
					// Basic options for a simple Google Map
					// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
					var mapOptions = {
						// How zoomed in you want the map to start at (always required)
						zoom: 17,
						// backgroundColor: 'rgb(30, 30, 30)',
						disableDefaultUI: false,
						mapTypeControl: false,
						scrollwheel: false,
						streetViewControl: false,
						zoomControl: true,
						zoomControlOptions: {
							position: google.maps.ControlPosition.RIGHT_BOTTOM
						},
						center: new google.maps.LatLng(45.552744, 6.673098),

					};
					var mapElement = document.getElementById('map');

					// Create the Google Map using our element and options defined above
					var map = new google.maps.Map(mapElement, mapOptions);

					function pinSymbol(color) {
						return {
							path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
							fillColor: color,
							fillOpacity: 1,
							strokeColor: '#e1e1e1',
							strokeWeight: 2,
							scale: 1.6,
						};
					}

					var marker = new google.maps.Marker({
						map: map,
						// position: map.getCenter(),
						position: {
							lat: 45.553829,
							lng: 6.672785
						},
						icon: pinSymbol("#273083"),
						title: '4F Transfers'
					});
				}
			}
		});
		// ====
	</script>
</body>

</html>