@@include('../chunks/head.html')

<body>
	<div class="wrapper">
		<div class="general-slider" id="general-slider">
			@@include('../chunks/header.html')
			<div class="general-slider__top-block">
				<div class="container">
					@@include('../chunks/scroll-down.html')


					<h1 class="general-slider__title general-text">Transporting you <br>
						to your winter holidays</h1>
					<h4 class="general-slider__subtitle">Airport transfers provider for all your ski transfer needs, <br>
						providing transfers to the Alps resorts</h4>
					<a href="#order-form" class="arrow-down js-link-to"><img src="img/arrow-down.png" alt="arrow down"></a>
					<div class="form-wrap">

						<div class="general-slider__navigation">
							<button class="general-slider__btn" id="previous">←</button>
							<button class="general-slider__btn" id="next">→</button>
						</div>
						<div class="general-slider__form order-form" id="order-form">
				
							<form class="js-validate">
								<div class="order-form__top">
									<div class="order-form__column">
									
										<div class="form-group">
											<!-- <select name="select" required class="ui  selection dropdown">
												<option value="" selected>Transfer from:</option>
												<option value="0">Geneva airport</option>
												<option value="1">Grenoble airport</option>
												<option value="2">Lyon airport</option>
												<option value="3">Chambery airport</option>
												<option value="6">Alpe d'Huez</option>
												<option value="7">Annecy</option>
												<option value="8">Argentiere</option>
												<option value="9">Avoriaz</option>
												<option value="0">Female</option>
											</select> -->
											<div class="ui selection dropdown">
												<input type="hidden" name="select">
												<i class="dropdown icon"></i>
												<div class="default text">Transfer from:</div>
												<div class="menu">
													<div class="item" data-value="0">Geneva airport</div>
													<div class="item" data-value="1">Grenoble airport</div>
													<div class="item" data-value="2">Lyon airport</div>
													<div class="item" data-value="3">Chambery airport</div>
													<div class="item" data-value="6">Alpe d'Huez</div>
													<div class="item" data-value="7">Annecy</div>
													<div class="item" data-value="8">Argentiere</div>
													<div class="item" data-value="9">Avoriaz</div>
													<div class="item" data-value="0">Female</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="ui selection dropdown">
												<input type="hidden" name="gender">
												<i class="dropdown icon"></i>
												<div class="default text">Transfer to:</div>
												<div class="menu">
													<div class="item" data-value="0">Geneva airport</div>
													<div class="item" data-value="1">Grenoble airport</div>
													<div class="item" data-value="2">Lyon airport</div>
													<div class="item" data-value="3">Chambery airport</div>
													<div class="item" data-value="6">Alpe d'Huez</div>
													<div class="item" data-value="7">Annecy</div>
													<div class="item" data-value="8">Argentiere</div>
													<div class="item" data-value="9">Avoriaz</div>
													<div class="item" data-value="0">Female</div>
												</div>
											</div>
										</div>
										<div class="form-group form-group--indentation">
											<div class="form-control__wrap form-control__wrap--date">
												<input class="form-control js-date" value="" type="text">
											</div>
											<div class="form-control__wrap form-control__wrap--time">
												<input class="form-control js-time" value="10:01" type="text">
											</div>
										</div>
									</div>
									<div class="order-form__column  order-form__column--center">
										<div class="form-group d-flex">
											<label class="check">
												<input type="radio" checked name="confirm">
												<span class="icon"></span>
												<span class="check__title">One way</span>
											</label>
											<label class="check">
												<input type="radio" name="confirm">
												<span class="icon"></span>
												<span class="check__title">Round trip</span>
											</label>
										</div>
										<div class="form-group form-group--bottom">
											<span class="label">Return fligh date:</span>
											<div class="form-group form-group--indentation">
												<div class="form-control__wrap form-control__wrap--date">
													<input class="form-control js-date" value="2018-11-11" type="text">

												</div>
												<div class="form-control__wrap form-control__wrap--time">
													<input class="form-control js-time" value="10:01" type="text">

												</div>
											</div>
										</div>
									</div>
									<div class="order-form__column">
										<div class="form-group form-control-wrap">
											<div class="ui selection dropdown" >
												<input type="hidden" name="gender">
												<i class="dropdown icon"></i>
												<div class="default text">Adults</div>
												<div class="menu">
													<div class="item" data-value="1">1</div>
													<div class="item" data-value="0">2</div>
												</div>
											</div>

											<div class="ui selection dropdown">
												<input type="hidden" name="gender">
												<i class="dropdown icon"></i>
												<div class="default text">Children</div>
												<div class="menu">
													<div class="item" data-value="1">1</div>
													<div class="item" data-value="0">2</div>
												</div>
											</div>
										</div>
										<div class="form-group d-flex">
											<label class="check">
												<input type="checkbox" checked name="return" id="return">
												<span class="icon"></span>
												<span class="check__title">Return same persons</span>
											</label>

										</div>
										<div class="form-group form-group--bottom">
											<span class="label">Return:</span>

											<div class="form-group form-control-wrap">
												<div class="ui selection dropdown"  id="menu-list">
													<input type="hidden" name="gender">
													<i class="dropdown icon"></i>
													<div class="default text">Adults</div>
													<div class="menu">
														<div class="item" data-value="1">1</div>
														<div class="item" data-value="0">2</div>
													</div>
												</div>

												<div class="ui selection dropdown">
													<input type="hidden" name="gender">
													<i class="dropdown icon"></i>
													<div class="default text">Children</div>
													<div class="menu">
														<div class="item" data-value="1">1</div>
														<div class="item" data-value="0">2</div>
													</div>
												</div>
											</div>

										</div>
									</div>

								</div>
								<div class="order-form__bottom">
									<div class="order-form__help-text"><span class="arrow"><img src="img/arrow-right.png" alt=""></span><span>We'll
											contact you for details and the
											price
											for dates
											sooner than 4 days ahead.</span></div>
									<div class="order-form__total">Total:<span class="order-form__total-value">€00,00</span></div>
									<button class="button button--default" type="submit">ORDER NOW</button>
								</div>
							</form>

						</div>
					</div>

				</div>
			</div>
			<div class="general-slider__bottom main-about">
				<div class="container main-about__inner">
					<div class="main-about__image">
						<img src="img/main-cars.png" alt="cars">
					</div>
					<div class="main-about__description">
						<h3 class="main-about__title">Client-oriented <br>
							professionals</h3>
						<p class="main-about__text">We are a passenger shipping company that specializes in the transportation of
							tourists in France! Our activities take place in the French Alps and the nearby region. We are positive-minded
							people who are professionals, not just driving through the narrow Alpine roads, but we are professionals in the
							treatment of clients.</p>
						<a class="link-more" href="#">Learn more <span class="arrow">→</span></a>
					</div>
				</div>
			</div>
		</div>
		<main class="main">
			<!-- section info-block Start -->
			<section class="info-block">
				<div class="container">
					<div class="row info-block__columns">
						<div class="col-sm-20 col-lg-20 col-xl-5 info-block__column info-block__column--large">
							<div class="info-block__list">
								<div class="info-block__item general-info-item">
									<div class="general-info-item__image">
										<img src="img/icon-mountains.png" alt="">
									</div>
									<div class="general-info-item__title ">Safely and comfortably</div>
									<div class="general-info-item__text text">
										<p>We safely and comfortably deliver You and Your belongings from Geneva, Chambery, Lyon, Grenoble airports
											to main French skiing resorts:</p>
										<p class="text-color">Meribel, Chamonix, Les deux Alpes, Alpe d'Huez, Val Thorens, Les Menuires, Val d'Isere,
											Tignes, La Plagne, Les Arcs, Courchevel and many more!

										</p>
									</div>
								</div>
								<div class="info-block__item general-info-item">
									<div class="general-info-item__image">
										<img src="img/icon-train.png" alt="">
									</div>
									<div class="general-info-item__title ">All regional train stations</div>
									<div class="general-info-item__text text">
										<p>We also offer transportation to and from all the regional train stations including:</p>
										<p class="text-color">Annecy, Lyon, Geneva, Moutier, Aime, Bourg St Maurice.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-20 offset-xl-1 col-lg-10 col-xl-5 info-block__column info-block__column--calculate">
							<div class="info-block__item general-info-item general-info-item--central">
								<div class="general-info-item__image">
									<img src="img/icon-route.png" alt="">
								</div>
								<div class="general-info-item__title ">We are waiting for you</div>
								<div class="general-info-item__text text">
									<p>To find out more information about your trip please use the order form at the top!</p>
									<p class="text-color">We are waiting for You on board to get to Your unforgettable winter holidays!</p>
								</div>
								<a href="#" class="button button--default">CALCULATE YOUR TRANSFER</a>
							</div>
						</div>
						<div class="col-sm-20 col-lg-10 offset-xl-1 col-xl-7 text-center  info-block__column-map">
							<div class="swipe-map">
								<div class="swipe-map__image">
									<img src="img/swipe-map.png" alt="">
								</div>
								<div class="swipe-map__title">SWIPE TO SEE FULL MAP</div>

							</div>
							<div class="general-map-wrap">
								<img class="image-map" src="img/general-map.png" alt="map">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section info-block End -->
			<!-- section our-clients Start -->
			<section class="our-clients">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-xl-7 our-clients__column-text">
							<div class="our-client__recourse recourse-block">
								<div class="recourse-block__title">Our clients</div>
								<div class="recourse-block__text">
									<p>Friends, families, collegues, people groups and individuals, every human and even pets, who wants spend a
										winter holidays at Alps!</p>
									<p>Child seats, boosters, refreshments, english and russian speaking professional drivers are included for
										free:)</p>
									<p class="text-color">We want to be Your friends on the way!</p>
								</div>
							</div>
						</div>
						<div class="col-lg-10 offset-lg-1 col-xl-10 offset-xl-3">
							<div class="general-reviews">
								<div class="general-reviews__list js-general-reviews-slider">
									<div class="general-reviews__item general-reviews-item">
										<div class="general-reviews-item__symbol">“</div>
										<div class="general-reviews-item__author">Bethan S</div>
										<div class="general-reviews-item__text">We used your service for transfer from Lyon to Les Deaux Alpes.
											Exellent value for money, friendly drivers, on time. Would easily recommend!</div>
										<div class="general-reviews-item__date"><span>07.11.2016.</span>&nbsp;<span>17:28</span></div>
									</div>
									<div class="general-reviews__item general-reviews-item">
										<div class="general-reviews-item__symbol">“</div>
										<div class="general-reviews-item__author">Bethan S</div>
										<div class="general-reviews-item__text">We used your service for transfer from Lyon to Les Deaux Alpes.
											Exellent value for money, friendly drivers, on time. Would easily recommend!</div>
										<div class="general-reviews-item__date"><span>07.11.2016.</span>&nbsp;<span>17:28</span></div>
									</div>
									<div class="general-reviews__item general-reviews-item">
										<div class="general-reviews-item__symbol">“</div>
										<div class="general-reviews-item__author">Bethan S</div>
										<div class="general-reviews-item__text">We used your service for transfer from Lyon to Les Deaux Alpes.
											Exellent value for money, friendly drivers, on time. Would easily recommend!</div>
										<div class="general-reviews-item__date"><span>07.11.2016.</span>&nbsp;<span>17:28</span></div>
									</div>
								</div>
								<a href="#" class="link-more">All reviews<span class="arrow">→</span></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section our-clients End -->
			<!-- section rent Start -->
			<section class="rent">
				<div class="container rent__inner">
					<div class="rent__info">
						<div class="rent__info-text">Rent ski equipment and ski passes with us
							for 3 Valleys, Paradiski, Espace Killy resorts!</div>
						<a href="#" class="link-more">Contact us for rent<span class="arrow">→</span></a>

					</div>
				</div>
			</section>
			<!-- section rent End -->

		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>