@@include('../chunks/head.html')

<body>
	<div class="wrapper">
		@@include('../chunks/header.html')

		<main class="main">
			<!-- section about-us Start -->
			<div class="container">
				<h1 class="general-title">News</h1>
				<section class="news">
					<div class="news__list row">
						<div class="col-lg-20 col-xl-10 news__item news-item">
							<div class="news-item__image" style="background-image:url(img/news-1.jpg)"></div>
							<div class="news-item__description">
								<div class="news-item__title">Greetings at winter!!!</div>
								<div class="news-item__text">Winter season is here! Congratulations to all skiers, snowboarders or simply the
									joy of winter, snow and mountain checkers! Like every year, this year Europe's largest mountain system of the
									Alps ski resorts are in full readiness to expect guests, offering wonderful mountain recreation options! Good
									news: the snow in the mountains will be enough for all, so schedule your vacation in advance to book
									accommodation, lifts, equipment and of course transportation to and from the Alpine resort! See You there!!!</div>
								<div class="news-item__info">
									<div class="news-item__date">17.10.2014. 21:22</div>
									<a href="#" class="news-item__link">Read more <span class="arrow">→</span></a>
								</div>
							</div>
						</div>
						<div class="col-lg-20 col-xl-10 news__item news-item">
							<div class="news-item__image" style="background-image:url(img/news-2.jpg)"></div>
							<div class="news-item__description">
								<div class="news-item__title">Ski Transfer review
									from Globalmouse
									Travels!</div>
								<div class="news-item__text">We would like to share review from our friends Globalmouse Travels, who spend
									their skiing holidays at Les Arcs resort and used our transfer services! Thanks a lot! </div>
								<div class="news-item__info">
									<div class="news-item__date">17.10.2014. 21:22</div>
									<a href="#" class="news-item__link">Read more <span class="arrow">→</span></a>
								</div>
							</div>
						</div>
						<div class="col-lg-20 col-xl-10 news__item news-item">
							<div class="news-item__image" style="background-image:url(img/news-3.jpg)"></div>
							<div class="news-item__description">
								<div class="news-item__title">Welcome back
									at winter!</div>
								<div class="news-item__text">Hello dear Friends! Greetings for all winter sports and any winter fun lovers! We
									are glad to be with you at this season to help you to get from and to any of your destination! We love this
									job and we love this fabulous place thats why we are the best choise for you. As always we want to share this
									joy with you and give the most friendly and professional transfers service for your needs! We wish a lot of
									snow and joy for all of us! See you at mountains, your 4F Transfers!</div>
								<div class="news-item__info">
									<div class="news-item__date">17.10.2014. 21:22</div>
									<a href="#" class="news-item__link">Read more <span class="arrow">→</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-more">
						<div class="btn-more__image">
							<img src="img/icon-loading.png" alt="">
						</div>
						<div class="btn-more__title">Load more news</div>
					</div>
				</section>
			</div>

			<!-- section about-us End -->


		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>