@@include('../chunks/head.html')

<body>
	<div class="wrapper">
		@@include('../chunks/header.html')

		<main class="main">
			<!-- section info-block Start -->
			<section class="order-form-wrap">
				<div class="container">
					<h1 class="general-title">Client information</h1>

					<div class="order-form order-form--client" id="order-form">
						<form class="js-validate">
							<div class="order-form__section order-form__section--table">
								<h3 class="order-form__section-title">Transfer:
									<span>Please check if the information is correct in this section.</span>
								</h3>
								<table class="table table-dark">
									<thead>
										<tr>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="table__col-left">Origin:</td>
											<td class="table__col-right">Geneva airport</td>
										</tr>
										<tr>
											<td class="table__col-left">Destination:</td>
											<td class="table__col-right">Avoriaz</td>
										</tr>
										<tr>
											<td class="table__col-left">Departure date & time:</td>
											<td class="table__col-right">23-Jul-2018, 10:00</td>
										</tr>
										<tr>
											<td class="table__col-left">Return date & time:</td>
											<td class="table__col-right">24-Jul-2018, 10:00</td>
										</tr>
										<tr>
											<td class="table__col-left">Passengers:</td>
											<td class="table__col-right">2 adults, 2 children, same people return</td>
										</tr>
										<tr>
											<td class="table__col-left">Distance & driving time:</td>
											<td class="table__col-right">310,7 km, 3 hours and 21 minutes (Round trip)</td>
										</tr>
										<tr>
											<td class="table__col-left">Price Total:</td>
											<td class="table__col-right"><a class="e-link" href="#">We'll contact you.</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="order-form__section">
								<h3 class="order-form__section-title">Lead passengers details:</h3>
								<div class="form-group">
									<input type="text" class="form-control" name="firstname" required placeholder="Name: *">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="lastname" required placeholder="Surname: *">
								</div>
								<div class="form-group">
									<input type="email" name="email" required class="form-control" placeholder="Email: *">
								</div>
								<div class="form-group">
									<input type="text" class="form-control phone" name="phone" required placeholder="Mobile phone: *">
									<small class="text-notification">Please specify country code as well.</small>
								</div>
								<div class="form-group">
									<input type="text" class="form-control phone" name="phone" placeholder="2nd mobile phone:">
									<small class="text-notification">Please specify country code as well.</small>

								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Luggage info:">
								</div>
								<div class="form-group">
									<textarea class="form-control-textarea" cols="30" rows="10" placeholder="Additional notes:"></textarea>
								</div>
							</div>
							<div class="order-form__section">
								<h3 class="order-form__section-title">Flight and accomodation details:
								</h3>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Outbound flight number:">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Return flight number:">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" placeholder="Hotel name & address:">
									<small class="text-notification">Please specify chalet, hotel or apartment name and address.</small>
								</div>

							</div>
							<div class="order-form__section">
								<h3 class="order-form__section-title">Flight and accomodation details:
								</h3>
								<div class="order-form__section-bottom">
									<label class="check">
										<input type="checkbox" checked name="confirm">
										<span class="icon"></span>
										<span class="check__title">I agree with Terms & Conditions<sup class="text-star">*</sup></span>
									</label>
									<a class="terms-link" href="#">Please read the Terms & Conditions here.</a>
								</div>

							</div>
							<button class="button button--order-submit button--default" type="submit">SUBMIT</button>
							<div class="link-back"><span>←</span>RETURN</div>
						</form>

					</div>
				</div>
			</section>
			<!-- section info-block End -->


		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>