@@include('../chunks/head.html')

<body>
	<div class="wrapper  wrapper--reviews">
		@@include('../chunks/header.html')

		<main class="main">
			<!-- section info-block Start -->
			<section class="reviews">
				<div class="container">
					<h1 class="general-title">Reviews from our friends </h1>
					<div class="reviews__list">
						<div class="reviews__item item-review">
							<div class="item-review__inner">
								<div class="item-review__text">A friendly driver, a company that works with its costumers... and a great value
									when deciding among competitors. I would highly recommend this service to friends and anyone wanting first
									class, friendly service! </div>
								<div class="item-review__author">Thomas I</div>
								<div class="item-review__date">08.01.2016. 18:20</div>
							</div>
							<a href="" class="item-review__link">Check this review on FindTransfers <span class="arrow">→</span></a>
						</div>
						<div class="reviews__item item-review">
							<div class="item-review__inner">
								<div class="item-review__text">Absolutely fantastic, by the way the most pleasurable transit part of our trip,
									the ease of doing business, the accuracy and consistency and cost effectivity was remarkable. Will definitely
									use again and recommend!</div>
								<div class="item-review__author">Andy C</div>
								<div class="item-review__date">08.01.2016. 18:20</div>
							</div>
							<a href="" class="item-review__link">Check this review on FindTransfers <span class="arrow">→</span></a>
						</div>
						<div class="reviews__item item-review">
							<div class="item-review__inner">
								<div class="item-review__text">4F were competitively priced, great communicators, reliable and incredibly
									accommodating. Couldn't have been happier with the service-an unreserved recommendation. We will definitely
									use 4F again anytime we travel in the area! </div>
								<div class="item-review__author">Ryan B</div>
								<div class="item-review__date">08.01.2016. 18:20</div>
							</div>
							<a href="" class="item-review__link">Check this review on FindTransfers <span class="arrow">→</span></a>
						</div>
						<div class="reviews__item item-review">
							<div class="item-review__inner">
								<div class="item-review__text">We used your service for transfer from Lyon to Les Deaux Alpes. Exellent value
									for money, friendly drivers, on time. Would easily recommend!</div>
								<div class="item-review__author">Siuil</div>
								<div class="item-review__date">08.01.2016. 18:20</div>
							</div>
							<a href="" class="item-review__link">Check this review on FindTransfers <span class="arrow">→</span></a>
						</div>
						<div class="reviews__item item-review">
							<div class="item-review__inner">
								<div class="item-review__text">We found this service reliable and satisfactory. We would be happy to use you
									again!</div>
								<div class="item-review__author">Wayne D</div>
								<div class="item-review__date">08.01.2016. 18:20</div>
							</div>
							<a href="" class="item-review__link">Check this review on FindTransfers <span class="arrow">→</span></a>
						</div>

					</div>
					<div class="btn-more">
						<div class="btn-more__image">
							<img src="img/icon-loading.png" alt="">
						</div>
						<div class="btn-more__title">Load more news</div>
					</div>
				</div>
			</section>
			<!-- section info-block End -->


		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>