@@include('../chunks/head.html')

<body>
	<div class="wrapper">
		@@include('../chunks/header.html')

		<main class="main">
			<!-- section about-us Start -->
			<section>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-18 col-lg-12">
							<div class="post">
									<h1 class="general-title">Greetings at winter!</h1>
									<div class="post__date">17.10.2014. 21:22</div>
									<div class="post__text">
										<p>Winter season is here! Congratulations to all skiers, snowboarders or simply the joy of winter, snow and
											mountain checkers! Like every year, this year Europe's largest mountain system of the Alps ski resorts are
											in full readiness to expect guests, offering wonderful mountain recreation options! Good news: the snow in
											the mountains will be enough for all, so schedule your vacation in advance to book accommodation, lifts,
											equipment and of course transportation to and from the Alpine resort! See You there!!!</p>
									</div>
								<div class="post__image">
									<img src="img/post.jpg" alt="post">
								</div>
								<a href="#" class="post__link"><span class="arrow">←</span>Return back</a>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- section about-us End -->


		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>