@@include('../chunks/head.html')

<body>
	<div class="wrapper">
		@@include('../chunks/header.html')

		<main class="main">
			<!-- section vip Start -->
			<section class="vip">
				<div class="container">
					<div class="vip__section">
						<h1 class="general-title">VIP offers</h1>
						<h4 class="vip__subtitle">Luxuriously and comfortably
						</h4>
						<p>
							We offer Transfers with brand new Mercedes VIP class cars! <br>
							Mercedes V class, GL and G class!
						</p>
					</div>
					<div class="vip__section">

						<h4 class="vip__subtitle">Want to drive by yourself?
						</h4>
						<p>Just rent these cars and many more with us! You can take a car and give it back at any point of Europe!</p>
						<a class="vip__link" href="mailto:team@4ftransfers.com">team@4ftransfers.com</a>
					</div>
					<img class="vip__image vip-image--desktop" src="img/vip-cars.png" alt="">
					<img class="vip__image vip-image--mobile" src="img/vip-cars-sm.png" alt="">
				</div>
			</section>
			<!-- section vip End -->


		</main> @@include('../chunks/footer.html')
		@@include('../chunks/to-top.html')
	</div>
	<!-- scripts -->
	@@include('../chunks/scripts.html')
</body>

</html>