*,
*:before,
*:after {
	box-sizing: border-box;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

html,
body {
	min-height: 100%;

	&.is-scroll-none {
		overflow: hidden;
		height: 100%;

		body {
			overflow: hidden;
			height: 100%;
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

html {
	-webkit-overflow-scrolling: touch;
}

body {
	font-size: $body-font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;
	font-weight: 500;
	font-size: $body-font-size;
	line-height: 1.2;
	min-width: 320px;
	background: #FFF;

	&.js-block-scroll {
		overflow-y: hidden;
	}
}

th {
	font-weight: inherit;
}

// font default
//-----------------------------------------------------------------------------------
body,
input,
button,
select,
textarea {
	font-family: $Montserrat, $font-default
}

li {
	list-style-type: none;
}

// Common classes
//-----------------------------------------------------------------------------------
.clear {
	clear: both;
}

%clear-fix:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
}

// text align
//-----------------------------------------------------------------------------------
.text {
	&-left {
		text-align: left;
	}

	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}
}

pre,
code {
	font-family: monospace;
}

a {
	display: inline-block;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

img {
	position: relative;
	display: inline-block;
	border: none;
	vertical-align: top;
	max-width: 100%;
	height: auto;
	text-align: center;

	&:after {
		content: "Broken Image of "attr(alt);
		display: block;
		color: rgb(100, 100, 100);
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		font: 300 12px / 1 $font-default;

	}
}

svg {
	pointer-events: all;
}

// form
//-----------------------------------------------------------------------------------
input,
textarea {
	appearance: none;
	box-shadow: none;
}

textarea {
	resize: none;
}

input {
	vertical-align: middle;
	margin: 0;
	padding: 0;

	::-ms-clear,
	::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}

	&[type="search"] {

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}
}

button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input[type='image'] {
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
	overflow: visible;
	background: none;
	outline: 0;
	border: 0;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
}

label {
	cursor: pointer;
}

// WebKit/Blink Browsers
//-----------------------------------------------------------------------------------
.hide-mobile {
	@include media("<md") {
		display: none;
	}
}

.visible-mobile {
	@include media(">md") {
		display: none !important;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&--reviews {
		background-color: #e0e0e0;
	}
}

.main {
	flex: 1;

	@include media(">md") {
		// padding-bottom: 60px;

	}
}

.general-text {
	color: #fffefe;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 3.6px;
	margin-left: auto;
	margin-right: auto;

	@include media("<md") {
		font-size: 37px;
		letter-spacing: 1.6px;
	}

	@include media("<sm") {
		br {
			display: none;
		}
	}

	.small-text {
		color: #37373b;
		font-size: 14px;
		font-weight: 700;
		// Text style for "A, kvilonP"
		letter-spacing: 0.84px;
		position: relative;
		padding-left: 35px;
		margin-left: 5px;

		&:before {
			content: "";
			width: 30px;
			height: 2px;
			background-color: #37373b;
			margin-right: 5px;
			display: block;
			position: absolute;
			bottom: 5px;
			left: 0px;
		}
	}
}

.border-line {
	border-top: 2px solid #e0e0e0;
	position: relative;
	width: 100%;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: -2px;
		width: 50%;
		height: 2px;
		background-color: $site-color;
	}
}

.general-title {
	color: #273083;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 1.6px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 40px;

	@include media("<md") {
		font-size: 30px;
		margin-bottom: 30px;

	}

}

h1.subtitle {
	@include media(">lg") {
		margin-bottom: 10px;

	}
}

.subtitle {
	color: $site-color;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1.2px;
	margin-bottom: 30px;

	@include media("<sm") {
		font-size: 20px;
		letter-spacing: 0.8px;
		margin-bottom: 20px;

	}
}


.subtitle-text {
	color: $text-color;
	font-size: 20px;
}

.text-xs-center {
	@include media("<=sm") {
		text-align: center;
	}
}

p.text {
	color: #5c5c5c;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	margin-bottom: 20px;

	@include media("<=sm") {
		line-height: 21px;
	}
}

// cut title
.ellip {
	display: block;
	height: 100%;
}

.ellip-line {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	max-width: 100%;
}

.ellip,
.ellip-line {
	position: relative;
	overflow: hidden;
}

.table--responsive {
	overflow-y: hidden;
}

.js-category-list {
	@include media("<md") {
		display: none;
	}
}

.js-arrow {
	@include transition;

	@include media(">=md") {
		display: none;
	}
}

.section-title {
	color: #000;
	font-size: 25px;
	font-weight: 500;
	line-height: 18px;
	margin-bottom: 30px;

	@include media("<sm") {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 15px;
	}
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.mdtp__wrapper {
	// top: 50%;
}


.slick-slider:not(.slick-initialized) {
	display: none;
}

.text {
	p {
		color: #4a4a4a;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 30px;
		font-size: 16px;

		@include media("<sm") {
			margin-bottom: 5px;
			line-height: 23px;

		}
	}
}