// fade style
input::-webkit-input-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

input::-moz-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

input:-moz-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

input:-ms-input-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

input:focus::-webkit-input-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

input:focus::-moz-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

input:focus:-moz-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

input:focus:-ms-input-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

textarea::-webkit-input-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

textarea::-moz-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

textarea:-moz-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

textarea:-ms-input-placeholder {
	text-indent: 0px;
	transition: all 0.7s ease;
}

textarea:focus::-webkit-input-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

textarea:focus::-moz-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

textarea:focus:-moz-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

textarea:focus:-ms-input-placeholder {
	text-indent: 50px;
	transition: all 0.7s ease;
	opacity: 0;
}

// placeholder
input::-webkit-input-placeholder {
	color: #a3a3a3;
	font-size: 14px;
	font-weight: 400;
}

input:-moz-placeholder {
	color: #a3a3a3;
	font-weight: 400;

}

input::-moz-placeholder {
	font-size: 14px;
	font-weight: 400;
	color: #a3a3a3;


}

input:-ms-input-placeholder {
	font-size: 14px;

	font-weight: 400;
	color: #a3a3a3;

}

textarea::-webkit-input-placeholder {
	font-size: 14px;

	font-weight: 400;
	color: #a3a3a3;
}

textarea:-moz-placeholder {
	font-size: 14px;

	font-weight: 400;
	color: #a3a3a3;
}

textarea::-moz-placeholder {
	font-size: 14px;

	font-weight: 400;
	color: #a3a3a3;
}

textarea:-ms-textarea-placeholder {
	font-weight: 400;
	color: #a3a3a3;

}

.ui.selection.dropdown {
	height: 40px;
	background-color: #e0e0e0;
	width: 100%;
	color: #000;
	// color: #9e9e9e;
	font-size: 12px;
	font-weight: 500;
	line-height: 22px;
	border: 0;
	display: flex;
	align-items: center;
}

// .ui.selection.active.dropdown:hover {
// 	color: #9e9e9e;

// }

.ui.selection.dropdown>.delete.icon,
.ui.selection.dropdown>.dropdown.icon,
.ui.selection.dropdown>.search.icon {
	top: 0;
	bottom: 0;
	margin: auto;
}

.ui.selection.dropdown>.dropdown.icon {
	display: flex;
	align-items: center;
	right: 5px;

}

.ui.selection.dropdown .menu>.item {
	height: 20px;
	display: flex;
	line-height: 1;
	padding: 2px 12px;
	align-items: center;
	color: #9e9e9e;
	font-size: 12px;
	font-weight: 500;
	line-height: 22px;
	@include transition;
	background-color: #e0e0e0;
	border: 0;
	// Text style for "Grenoble a"
}

.ui.dropdown>.dropdown.icon:before {
	content: "";
	border: solid #737373;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.ui.selection.dropdown .menu {
	max-height: 180px;
	margin-top: 4px;
}

.ui.dropdown .menu>.item:hover {
	background-color: #b9b9b9;
	color: $light;

}