// grid breakpoints
$grid-breakpoints: (xs:0, sm: 576px, md: 768px, lg: 1259px, xl: 1620px);
// grid containers
// $container-max-widths: ( sm: 540px, md: 960px, lg: 1170px, xl: 1600px);
// $container-max-widths: (1600px);
$container-max-widths: (lg: 1220px, xl: 1580px);

// grid columns
$grid-columns: 20 !default;
$gutter: 40px !default;
// font
$Montserrat: 'Montserrat';
$font-default: sans-serif,
"Helvetica Neue",
Helvetica;
$body-font-size: 14px;
// selection color
//-----------------------------------------------------------------------------------
$text-color: #4a4a4a;
$light: #fff;
$site-color: #273083;
$site-color-light: #313a88;