.about-us {
	.general-title {
		@include media("<sm") {
			margin-bottom: 10px;
		}
	}

	&__description {
		max-width: 100%;
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
		background-color: $light;
		padding: 55px 60px 60px;
		padding-bottom: 30px;
		z-index: 2;
		position: relative;

		p {
			@include media(">=xl") {

				font-size: 14px;
				margin-bottom: 23px;
			}
		}

		p:not(:last-of-type) {
			@include media("<lg") {

				margin-bottom: 20px;
			}
		}

		@include media(">lg") {
			position: absolute;
			top: 60px;
			right: 0;
			max-width: 790px;


		}

		@include media("<lg") {
			max-width: 730px;
			padding: 50px 40px 50px;
			top: 280px;
		}

		@include media("<lg") {
			margin-top: -40%;
			top: 0;
			max-width: calc(100% - 40px);
			margin-left: auto;
			margin-right: auto;
		}

		@include media("<md") {
			max-width: 100%;
			padding: 30px 20px;
			margin-top: 0;
		}
	}

	.subtitle {
		margin-bottom: 15px;
	}

	&__slider-wrap {
		position: relative;

		@include media(">=md", "<=lg") {
			margin-bottom: 60px;
		}

		@include media(">lg", "<xl") {
			margin-bottom: 160px;
		}

		@include media("<md") {
			margin-bottom: 40px;
		}

		@include media("<lg") {

			.slick-prev,
			.slick-next {
				display: none !important;
			}

		}
	}

	&__slider {
		max-width: calc(100% - 160px);
		margin-bottom: 60px;

		@include media(">md") {
			max-height: 750px;
			overflow: hidden;

		}

		@include media("<lg") {
			max-width: 100%;
		}

		@include media("<=md") {
			margin-bottom: 0;
		}

		@include media("<md") {
			display: none;
		}
	}

	&__slider-navigation {
		padding-left: 55px;
		padding-right: 55px;
		max-height: 300px;
		overflow: hidden;
		// max-width: 100%;
		max-width: 1620px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;

		@include media("<lg") {
			padding-left: 0;
			padding-right: 0;
		}

		@include media("<=lg") {
			max-height: 190px;
			overflow: hidden;
			padding-left: 0;
			padding-right: 0;
			margin-left: -20px;
			margin-right: -20px;

		}

		@include media(">md", "<xl") {
			max-height: 320px;
		}

		.slick-list {
			max-height: 100%;
		}

		.slick-slide {
			width: 210px;
			margin-left: 8px;
			margin-right: 8px;
		}
	}

	.text-accent {
		color: #45cbe6;
	}

	&__info {
		.text-color {
			text-transform: uppercase;
		}
	}
}

.advantage {
	display: flex;

	@include media("<md") {
		flex-direction: column;
		margin-top: 20px;
	}

	&__item {
		max-width: 230px;

		@include media("<md") {
			margin-bottom: 20px;
		}

		&:not(:last-of-type) {
			margin-right: 50px;
		}

		&-image {
			margin-bottom: 20px;

			@include media("<md") {
				margin-bottom: 5px;
			}
		}

		&-title {
			color: $site-color;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
			text-transform: uppercase;
		}
	}
}