.b-contacts__wrap {
	position: relative;
}

.map {
	height: 980px;
	width: 100%;
	margin-top: -140px;
	z-index: -1;

	@include media("<lg") {
		height: 740px;
	}

	@include media("<md") {
		height: 670px;
	}

	&-wrap {
		width: 100%;
		margin-top: -20px;
		position: relative;

		@include media("<md") {
			padding-bottom: 80px;
			position: relative;
		}


	}
}

.b-contacts-form {
	padding: 60px;
	width: 100%;



	&__title {
		color: $site-color;
		font-size: 40px;
		font-weight: 900;
		letter-spacing: 1.6px;

		@include media("<sm") {
			font-size: 30px;
			letter-spacing: 1.2px;
		}

	}

	&__subtitle {
		color: #747474;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 25px;

		@include media("<sm") {
			margin-bottom: 17px;
		}
	}

	&__action {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.button {
			margin-right: 0;
		}

		@include media("<sm") {
			flex-direction: column;

			.button {
				margin-left: 0;
				margin-right: auto;
				margin-top: 10px;
			}
		}
	}

	@include media("<md") {
		padding: 35px 30px;

	}

	@include media("<sm") {
		padding: 30px 20px;
	}

}

.b-contacts {

	width: calc(100% - 40px);

	box-shadow: 2px 1px 27px 1px rgba(3, 7, 8, 0.19);
	background-color: $light;
	max-width: 980px;
	display: flex;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;

	@include media(">lg") {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -60px;

	}

	@include media("<lg") {
		position: relative;
		margin-top: -210px;
		max-width: 100%;
		flex-direction: column;
	}

	@include media("<sm") {
		width: 100%;
	}


}

.b-contacts-info {
	width: 340px;
	background-image: linear-gradient(to top, #02012d 0%, #134fbc 100%);
	flex: 0 0 auto;
	padding: 60px;
	padding-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;

	&__icon {
		margin-bottom: 30px;
		max-height: 70px;

		@include media("<sm") {
			margin-bottom: 30px;
		}
	}

	&__item {
		margin-bottom: 20px;

		@include media("<sm") {
			margin-bottom: 20px;
		}
	}

	&__link {
		color: $light;
		font-size: 16px;
		font-weight: 400;

		&--tel {
			font-size: 25px;
			font-weight: 500;
		}

		b {
			font-weight: 600;
		}
	}

	@include media("<lg") {
		width: 100%;
		align-items: center;
		text-align: center;
	}

	@include media("<sm") {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}