.general-slider {
	background: url("../img/general-slider-1.jpg") top center no-repeat;
	background-size: cover;

	.header {
		background: none;

		@include media("<sm") {
			min-height: auto;
		}

		@include media(">md") {
			min-height: 200px;
		}

		&__inner {
			@include media(">md") {
				min-height: auto;
			}
		}
	}

	&__top-block {
		padding-bottom: 60px;
		text-align: center;

		@include media(">=md", "<lg") {
			padding-bottom: 40px;
		}
	}

	&__title {
		max-width: 850px;
		margin-bottom: 5px;
	}

	&__subtitle {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0.96px;
		color: #9fd1ff;

		@include media("<md") {
			display: none;
		}
	}

	.arrow-down {
		margin-top: 50px;
		margin-bottom: 50px;

		@include media("<md") {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		@include media(">=md", "<lg") {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	&__form {
		max-width: 843px;
		box-shadow: 28px 16px 27px 1px rgba(3, 7, 8, 0.46);
		background-color: $light;
		border-radius: 4px;
		padding: 30px;

		@include media(">=md", "<lg") {
			border-radius: 0;
		}

		@include media("<md") {
			padding: 20px;
		}
	}
}

.arrow-down {
	color: #e0e0e0;
	font-size: 18px;
	cursor: pointer;
	padding: 10px;
}

// main-about
.main-about {
	background: url("../img/bg-footer.png") center bottom repeat-x;

	// background: url('../img/bg-lines-type-1.png') center bottom repeat-x;
	padding-top: 100px;
	padding-bottom: 50px;

	@include media("<md") {
		padding-bottom: 30px;
	}


	@include media("<sm") {
		background: url("../img/bg-lines-type-1-sm.png") center top no-repeat;
		background-size: cover;
	}

	@include media(">=md", "<lg") {
		background: url("../img/bg-main-about-md.png") center top no-repeat;
		background-size: cover;
	}


	@include media("<lg") {
		padding-top: 0;
	}


	&__inner {
		display: flex;

		@include media("<lg") {
			flex-direction: column;
		}
	}

	&__image {
		flex: 0 0 auto;

		@include media("<xl") {
			flex: 0 0 50%;
		}


		@include media(">xl") {
			padding-left: 60px;
		}


		@include media("<lg") {
			padding-left: 40px;
		}


		@include media("<md") {
			padding-left: 0px;
		}
	}

	&__description {
		text-align: left;
		padding-left: 40px;

		@include media("<md") {
			padding-left: 0;
		}
	}

	&__title {
		color: #fffefe;
		font-size: 40px;
		font-weight: 900;
		letter-spacing: 1.6px;
		margin-bottom: 25px;

		@include media("<md") {
			font-size: 30px;
			margin-bottom: 5px;
		}

		@include media(">=md", "<lg") {
			margin-bottom: 15px;
		}
	}

	&__text {
		color: #9fc3ff;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		margin-bottom: 50px;
		max-width: 500px;

		@include media("<md") {
			margin-bottom: 10px;
		}

		@include media(">=md", "<lg") {
			max-width: 90%;
			margin-bottom: 15px;
		}
	}
}

.link-more {
	color: #027afe;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.48px;
	display: flex;
	align-items: center;

	@include transition;

	border-bottom: 1px solid transparent;
	align-self: flex-start;
	display: inline-flex;

	&:hover {
		border-color: #027afe;
	}

	.arrow {
		margin-left: 9px;
		font-size: 20px;
	}
}

.info-block {
	background-color: #e0e0e0;

	@include media("<lg") {
		padding-bottom: 40px;
	}

	@include media(">=md", "<lg") {
		padding-bottom: 60px;
	}

	&__columns {
		@include media("<md") {
			flex-direction: column;
		}

	}

	.general-map-wrap {
		@include media("<md") {
			overflow-x: auto;
			text-align: center;
			margin-bottom: 10px;
			margin-left: -20px;
			margin-right: -20px;

			.image-map {
				max-width: inherit;

				// width: 548px;
				// height: 603px;
				margin-left: 30px;
				margin-right: 30px;
			}
		}
	}

	&__column {
		min-height: 600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&--calculate {
			min-height: 483px;

			@include media("<lg") {
				order: 1;
				margin-top: 20px;
			}

			@include media(">=lg", "<xl") {
				justify-content: flex-start;
			}
		}

		@include media("<xl") {
			min-height: auto;
		}


		&--large {
			p:not(:last-of-type) {
				margin-bottom: 0;
			}

			@include media(">xl") {
				padding-top: 40px;
			}


			@include media("<xl") {
				min-height: auto;
				padding-top: 60px;
				margin-bottom: 60px;

				.info-block__list {
					display: flex;
					justify-content: space-between;

					@include media("<xl") {
						padding-left: 40px;
						padding-right: 40px;
					}


					@include media("<lg") {
						flex-direction: column;
						padding-left: 0;
						padding-right: 0;
					}

					@include media(">=md", "<lg") {
						padding-left: 40px;
					}
				}

				.general-info-item {
					width: 49%;

					@include media("<lg") {
						width: 100%;
					}


					&:not(:last-of-type) {
						margin-bottom: 0;

						@include media("<md") {
							margin-bottom: 25px;
						}
					}
				}
			}


			@include media("<md") {
				margin-bottom: 30px;
				padding-top: 40px;
			}

			@include media(">=md", "<lg") {
				margin-bottom: 0px;
			}
		}
	}
}

.swipe-map {
	display: flex;
	flex-direction: column;

	&__title {
		margin-bottom: 10px;
		color: #273083;
		font-size: 14px;
		font-weight: 600;
		line-height: 26px;
	}

	@include media(">=md") {
		display: none;
	}
}

.general-info-item {
	&:not(:last-of-type) {
		margin-bottom: 40px;
	}

	&__title {
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		color: $site-color;
	}

	&--central {
		min-height: 483px;
		box-shadow: 0 0 27px 1px rgba(3, 7, 8, 0.13);
		background-color: #ebeaea;
		padding: 50px 41px;

		// padding-right: 20px;
		padding-bottom: 75px;
		flex-direction: column;
		display: flex;

		@include media("<xl") {
			padding-top: 30px;
			padding-bottom: 30px;
			min-height: auto;
		}

		@include media(">=md", "<lg") {
			width: 100%;
		}

		@include media("<sm") {
			padding: 20px;
			padding-bottom: 28px;
		}


		.general-info-item__image {
			margin-bottom: 40px;
		}

		.general-info-item__text {
			margin-bottom: 10px;
		}

		.button {
			margin-top: auto;
			max-width: 240px;
			margin-left: auto;
			margin-right: auto;

			@include media("<xl") {
				max-width: 255px;
			}

			@include media(">=md", "<lg") {
				margin-left: 0;
			}
		}
	}

	&__image {
		margin-bottom: 20px;
	}
}

.text-color,
p.text-color {
	font-weight: 600;
	color: $site-color;
}

// our-clients
.our-clients {
	background: url("../img/bg-our-clients.png") center no-repeat;
	background-size: cover;
	padding: 60px 0 105px;




	@include media("<lg") {
		padding-bottom: 60px;
	}

	&__column-text {
		@include media(">=lg", "<xl") {
			padding-top: 140px;
		}

		@include media(">lg") {
			padding-top: 100px;
		}
	}

	@include media("<sm") {
		padding-bottom: 30px;
	}
}

.recourse-block {
	min-height: 388px;
	background-color: $light;
	padding: 50px 80px;

	@include media("<lg") {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 60px;
	}


	@include media("<sm") {
		padding: 30px 20px;
		min-height: auto;
	}


	&__title {
		color: $site-color;
		margin-bottom: 20px;
		font-size: 40px;
		font-weight: 900;
		letter-spacing: 1.6px;

		@include media("<md") {
			font-size: 30px;
			letter-spacing: 1.2px;
			margin-bottom: 3px;
		}
	}

	&__text {
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;

		p {
			margin-bottom: 30px;

			@include media("<sm") {
				margin-bottom: 10px;
			}
		}
	}
}

.general-reviews {
	@include media("<lg") {
		padding-left: 45px;
		padding-right: 45px;
	}


	@include media("<md") {
		padding-left: 0;
		padding-right: 0;

		.slick-dots {
			position: relative;
			bottom: 0;
			text-align: left;
			margin-top: 20px;
		}
	}


	&__list {
		display: none;

		@include media("<md") {}


		&.slick-initialized {
			display: block;
		}
	}
}

.general-reviews-item {
	min-height: 380px;

	@include media("<md") {
		min-height: auto;
	}


	&__symbol {
		color: $light;
		font-size: 90px;
		font-weight: 900;
		letter-spacing: 3.6px;
		line-height: 1;

		@include media("<md") {
			font-size: 76px;
		}
	}

	&__author {
		color: #0179fe;
		font-size: 16px;
		font-weight: 500;
		text-decoration: underline;
		letter-spacing: 0.64px;
		margin-bottom: 25px;

		@include media("<md") {
			margin-bottom: 10px;
		}
	}

	&__text {
		color: $light;
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 24px;

		@include media("<md") {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	&__date {
		color: #6e79c6;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.48px;
	}
}

// rent
.rent {
	padding-top: 140px;

	// background: url('../img/genera-baner-bottom.png') center left no-repeat;
	min-height: 420px;
	position: relative;

	@include media("<xl") {
		margin-bottom: -260px;
		padding-top: 60px;
	}


	@include media("<sm") {
		padding-top: 30px;
		padding-bottom: 230px;
		min-height: auto;
		margin-bottom: -200px;
	}


	@include media(">lg") {
		display: flex;
		align-items: center;
	}


	&:after {
		content: "";
		height: 340px;

		// width: 1044px;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: 0 auto;
		max-width: 50%;
		background: url("../img/genera-baner-bottom.png") center left no-repeat;
		background-size: contain;

		@include media("<md") {
			bottom: 0;
			top: auto;

			// max-width: 90%;
			width: 314px;
			height: 212px;
			max-width: 100%;
			background: url("../img/genera-baner-bottom-xs.png") center left no-repeat;
			background-size: contain;
		}

		@include media(">=md", "<lg") {
			background: url("../img/genera-baner-bottom-md.png") center left no-repeat;
			background-size: contain;
			width: 367px;
			height: 212px;
			top: 40px;

		}

		@include media(">=lg", "<xl") {
			background-size: cover;
			background-position: top right;
			width: 47%;
			height: 296px;
			top: 0px;
			bottom: 0;
			margin: auto;
		}
	}

	&__inner {
		display: flex;
	}

	&__info {
		margin-left: auto;
		max-width: 570px;
		display: flex;
		flex-direction: column;

		max-width: 50%;



		@include media("<md") {
			max-width: 100%;
		}


		&-text {
			color: $site-color;
			font-size: 25px;
			font-weight: 700;
			line-height: 35px;
			margin-bottom: 30px;

			@include media("<lg") {
				margin-bottom: 10px;
			}
		}

		.link-more {
			margin-left: auto;

			@include media("<lg") {
				margin-left: 0;
			}
		}
	}
}

// vip
.vip {
	text-align: center;

	.general-title {
		@include media("<lg") {
			margin-bottom: 10px;
		}
	}

	&__subtitle {
		color: $site-color;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 20px;

		@include media("<lg") {
			margin-bottom: 10px;
		}
	}

	&__link {
		color: $site-color;
		font-weight: 500;
		line-height: 22px;
		border-bottom: 1px solid transparent;

		@include transition;

		&:hover {
			border-color: $site-color;
		}
	}

	&__section {
		margin-bottom: 30px;

		@include media("<md") {
			margin-bottom: 20px;
		}
	}

	p {
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		;

		@include media("<sm") {
			line-height: 22px;
		}

		@include media(">=md") {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto
		}
	}
}

.vip-image--desktop {
	@include media("<sm") {
		display: none;
	}
}

.vip-image--mobile {
	@include media(">sm") {
		display: none;
	}
}

.form-wrap {
	position: relative;
}

.general-slider__navigation {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;

	@include media("<lg") {
		display: none;
	}
}

.general-slider {
	&__btn {
		font-size: 40px;
		color: #2950ad;

		@include transition;

		&:hover {
			color: #fff;
		}
	}
}