.news {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px;

	}
}

.news-item {
	position: relative;
	padding-bottom: 130px;
	margin-bottom: 30px;

	@include media("<xl") {
		padding-bottom: 0;
	}

	@include media("<lg") {
		display: flex;
	}

	@include media("<md") {
		flex-direction: column;


	}

	&__image {
		height: 190px;
		overflow: hidden;
		flex: 0 0 auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;


		@include media(">=xl") {
			height: 500px;
			width: 500px;
		}

		@include media("<xl") {
			width: 400px;
			height: 400px;
		}

		@include media("<md") {
			margin-left: -20px;
			margin-right: -20px;
			max-width: 400px;

		}

		@include media("<md") {

			height: 320px;
		}


	}

	&__description {

		box-shadow: 0 0 27px 1px rgba(3, 7, 8, 0.13);
		background-color: $light;
		position: absolute;
		right: 20px;
		padding: 60px;
		padding-top: 50px;
		display: flex;
		flex-direction: column;

		@include media(">lg", "<xl") {

			margin: auto;
			top: 50%;
			-webkit-transform: translate(0%, -50%);
			-ms-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
			width: 70%;
			height: auto;

		}

		@include media(">xl") {
			width: 500px;
			min-height: 500px;
			top: 130px;

		}

		@include media("<lg") {
			position: relative;
			margin-left: -150px;
			width: 100%;
			right: 0;
			margin-top: 90px;
			padding-left: 50px;
			padding-right: 40px;
			padding-top: 50px;
			padding-bottom: 45px;
			min-width: 485px;
			min-height: 485px;
		}

		@include media("<md") {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: -85px;
			min-width: auto;
			min-height: auto;
			padding: 30px 20px;
			top: auto;

		}
	}


	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
	}

	&__link {
		border-bottom: 1px solid transparent;
		color: #027afe;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.48px;
		@include transition;
		display: inline-flex;
		align-items: center;

		.arrow {
			margin-left: 9px;
			font-size: 20px;
		}

		&:hover {
			border-color: #027afe;
		}
	}

	&__date {
		color: $site-color;
		font-size: 11px;
		font-weight: 500;
		line-height: 25px;
	}

	&__title {
		color: $site-color;
		font-size: 30px;
		font-weight: 900;
		margin-bottom: 15px;
		letter-spacing: 1.2px;

		@include media("<md") {
			font-size: 20px;
			letter-spacing: 0.8px;
			margin-bottom: 10px;
		}
	}

	&__text {
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 20px;

		@include media("<md") {
			line-height: 22px;
			text-align: justify;
			margin-bottom: 10px;
		}
	}
}

// single post
.post {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;

	&__date {
		color: $site-color;
		font-size: 11px;
		font-weight: 500;
		line-height: 25px;
		margin-bottom: 20px;
		text-align: center;
	}

	&__text {
		color: #4a4a4a;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;

		@include media("<sm") {
			font-size: 14px;
			line-height: 22px;
		}

		p {
			margin-bottom: 20px;
		}
	}

	&__content {
		@include media("<sm") {
			box-shadow: 0 0 27px 1px rgba(3, 7, 8, 0.13);
			background-color: #ffffff;
			padding: 30px 20px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $site-color;
		font-size: 16px;
		font-weight: 700;
		line-height: 25px;
		margin-top: 60px;
		border-bottom: 1px solid transparent;
		@include transition;
		cursor: pointer;

		&:hover {
			border-color: $site-color;
		}

		.arrow {
			margin-right: 10px;
			font-size: 30px;
		}

		@include media("<sm") {
			margin-top: 30px;
		}
	}



	@include media("<sm") {
		.general-title {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
}