.reviews {
	background-color: #e0e0e0;

	&__list {
		@include media("<=md") {
			padding-left: 10px;
			padding-right: 10px;
		}

		@include media("<=md") {
			padding-left: 0px;
			padding-right: 0px;
		}

		@include media(">lg") {
			margin-bottom: 40px;
		}
	}
}

.item-review {
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
	background-color: $light;
	margin-bottom: 30px;
	padding: 60px 40px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;

	@include media("<sm") {
		margin-bottom: 20px;
	}

	@include media("<=md") {
		padding: 100px 40px 25px;
	}

	@include media("<sm") {
		padding: 60px 20px 30px;
	}

	&__inner {
		max-width: 732px;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		&:before {
			content: "“";
			position: absolute;
			top: -40px;
			left: -40px;
			color: #ededed;
			font-size: 200px;
			font-weight: 700;
			line-height: 1;
			z-index: 0;

			@include media("<=md") {
				left: -20px;
			}

			@include media("<sm") {
				font-size: 150px;
				top: -40px;
				left: -15px;
			}
		}
	}

	&__link {
		margin-left: auto;
		color: #0179fe;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.24px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid transparent;
		@include transition;

		@include media("<sm") {
			font-size: 10px;
		}

		&:hover {
			border-color: #0179fe;
		}

		.arrow {
			font-size: 17px;
			margin-left: 7px;
		}
	}

	&__text {
		color: #4a4a4a;
		font-size: 18px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 40px;
		position: relative;
		z-index: 1;

		@include media("<sm") {
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 15px;
		}
	}

	&__author {
		color: $site-color;
		font-size: 30px;
		font-weight: 700;
		// Text style for "Thomas I"
		letter-spacing: 1.2px;
		margin-bottom: 5px;
		position: relative;
		z-index: 1;
		text-align: center;

		@include media("<sm") {
			margin-bottom: 3px;
		}
	}

	&__date {
		color: #7f7f7f;
		font-size: 12px;
		font-weight: 400;
		position: relative;
		z-index: 1;
		text-align: center;
		margin-bottom: 10px;
	}
}